<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:insert="~{html/header.html :: header}"></header>
    <main>
        <hr>
        <div class="center">
            <div class="center-1440px">
                <section>
                    <div class="cart">
                        <h1>Корзина</h1>
                        <div>
                            <div class="card-name"  th:if="${cart != null}">
                                <p>Товар</p>
                                <p>Количество</p>
                                <p>Действия</p>
                            </div>
                            <div class="card-items" th:each="item : ${cart.items}">
                                <div class="cart-product">
                                    <img th:src="${item.product.img}">
                                    <a th:text="${item.product.name}"></a>
                                </div>
                                <div>
                                    <form  id="reload" action="/cart/update-quantity" method="post">
                                        <input type="hidden" name="cartItemId" th:value="${item.id}" />
                                        <input type="number" name="quantity" th:value="${item.quantity}" min="1" />
                                    </form>
                                </div>
                                <div  class="cart-actions">
                                    <button form="delete" type="submit">Удалить</button>
                                    <button form="reload" type="submit">Обновить</button>
                                </div>
                                <form id="delete" action="/cart/remove-item" method="post">
                                    <input type="hidden" name="cartItemId" th:value="${item.id}" />
                                </form>
                            </div>
                        </div>
                        <div class="profile-nav">
                            <button ><a href="/orders/create">Оформить заказ</a></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <hr>
	</main>
    <footer th:insert="~{html/footer.html :: footer}"></footer>
    <script src="/JS/script.js"></script>
    <script src="/JS/cart.js" defer></script>
</body>
</html>