<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header th:insert="~{html/header.html :: header}"></header>
<main>
    <hr>
    <div class="center">
        <div class="center-1440px">
            <h1>Добавить товар</h1>
            <form action="/product/add" method="post">
                <div>
                    <label for="name">Название товара:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="price">Цена:</label>
                    <input type="number" id="price" name="price" step="0.01" required>
                </div>
                <div>
                    <label for="gram">Цена:</label>
                    <input type="number" id="gram" name="gram" step="1" required>
                </div>
                <div>
                    <!-- Скрытое поле для передачи ID магазина -->
                    <input type="hidden" name="postId" th:value="${postId}">
                </div>
                <div>
                    <button type="submit">Добавить</button>
                </div>
            </form>
            <a th:href="@{/}">Назад к списку товаров</a>
        </div>
    </div>
    <hr>
</main>
<footer th:insert="~{html/footer.html :: footer}"></footer>
<script src="/JS/script.js"></script>
</body>
</html>