<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:insert="html/header.html :: header"></header>
    <main>
        <hr> 
        <div class="center"> 
            <div class="center-1440px">
                <section class="section-shop">
                    <h1>Магазины</h1>
                    <div class="shops">
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/3770794/6ff780e53d02e27483bc22062f2918f9.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/14549513/2c670ca5056518d2aaaced2795ed3407.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/14667178/975320eb4ce2bd6d3290f0410520c9a5.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/931388/5185ab12cae01f1d98946f4eddce00a6.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/3724421/9879a1575fe6a048bd81269ca63cca12.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/2761069/05546cbe9424e64b6461249857238141.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/3512826/d8efaf56d8bf2574fe9b27815fa647cd.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/14835768/7313dc26e4f119a11cbd8368236c1028.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                        <div class="box-shop">
                            <a><img src="https://eda.yandex/images/13806227/667aec97adebbfb8836c570e85385cf5.png" alt=""></a>
                            <div class="delivery-time">
                                <img src="../images/delivery.svg" alt="delivery">
                                <p>30-40 мин</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-restaurant">
                    <h1>Рестараны</h1>
                    <div>
                        Filter
                    </div>
                    <div th:each = "el : ${posts}">
                        <div class="card-product">
                            <a><img th:img="${el.img}" alt=""></a>
                            <div class="name-product">
                                <p th:text="${el.title}"></p>
                                <div class="start-product">
                                    <img src="../images/star.svg" alt="">
                                    <p th:text="${el.star}"></p>
                                </div>
                            </div>
                            <div class="time-product">
                                <img src="../images/car.svg" alt="">
                                <p>35 - 45 мин</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-card-product">
                        <div class="card-product">
                            <a><img src="https://eda.yandex/images/13439948/ce2c341763afb5655d56958e83329995-648x312.jpg" alt=""></a>
                            <div class="name-product">
                                <p>Доминос пицца</p>
                                <div class="start-product">
                                    <img src="../images/star.svg" alt="">
                                    <p>4.8</p>
                                </div>
                            </div>
                            <div class="time-product">
                                <img src="../images/car.svg" alt="">
                                <p>35 - 45 мин</p>
                            </div>
                        </div>
                        <div class="card-product">
                            <a><img src="https://eda.yandex/images/3569651/7b38925111a4e7f63d5ff7b86eb50177-648x312.jpg" alt=""></a>
                            <div class="name-product">
                                <p>Mak.by</p>
                                <div class="start-product">
                                    <img src="../images/star.svg" alt="">
                                    <p>4.8</p>
                                </div>
                            </div>
                            <div class="time-product">
                                <img src="../images/car.svg" alt="">
                                <p>30 - 40 мин</p>
                            </div>
                        </div>
                        <div class="card-product">
                            <a><img src="https://eda.yandex/images/3772784/363315778e80282c639d899dfc8819e4-648x312.jpg" alt=""></a>
                            <div class="name-product">
                                <p>KFC</p>
                                <div class="start-product">
                                    <img src="../images/star.svg" alt="">
                                    <p>4.3</p>
                                </div>
                            </div>
                            <div class="time-product">
                                <img src="../images/car.svg" alt="">
                                <p>30 - 40 мин</p>
                            </div>
                        </div>
                        <div class="card-product">
                            <a><img src="https://eda.yandex/images/1463280/72f8570b3c1405190f469c161c90195d-648x312.jpg" alt=""></a>
                            <div class="name-product">
                                <p>Doner-kebab #1</p>
                                <div class="start-product">
                                    <img src="../images/star.svg" alt="">
                                    <p>4.8</p>
                                </div>
                            </div>
                            <div class="time-product">
                                <img src="../images/car.svg" alt="">
                                <p>25 - 35 мин</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <hr> 
	</main>
    <footer th:insert="html/footer.html :: footer"></footer>
</body>
</html>