<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   lang="ru">
<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
<header th:insert="~{html/header.html :: header}"></header>
<main>
    <hr>
    <div class="center">
        <div class="center-1440px">
            <h1>Войти в аккаунт</h1>
            <form action="login" method="post">
                <table>
                    <div th:if="${successMessage}" class="success-message">
                        <p th:text="${successMessage}"></p>
                    </div>
                    <div th:if="${param.error}">
                        <p style="color:red;">Неверный пароль или логин, попробуй снова.</p>
                    </div>
                    <tr class="auth">
                        <td><input type="text" name="username" placeholder="Логин"></td>
                    </tr>
                    <tr class="auth">
                        <td><input type="password" name="password" placeholder="Пароль"></td>
                    </tr>
                    <tr class="auth">
                        <td><button >Войти</button></td>
                    </tr>
                </table>
            </form>
            <div class="new-acc">
                <p>Нет аккаунта? <a href="/registration">Зарегистрироваться</a></p>
            </div>
        </div>
    </div>
    <hr>
</main>
<footer th:insert="~{html/footer.html :: footer}"></footer>
<script src="/static/JS/script.js"></script>
</body>
</html>