<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:insert="~{html/header.html :: header}"></header>
    <main>
        <hr>
        <div class="center">
            <div class="center-1440px">
                <section>
                    <div class="card-form">
                        <h2>Добавить новую карту</h2>
                        <form th:action="@{/payment/add}" method="post">
                            <input type="text" name="cardNumber" placeholder="Номер карты" maxlength="16" required>
                            <input type="text" name="expiryDate" placeholder="Срок действия (MM/YY)" maxlength="5" oninput="formatExpiryDate(this)" required>
                            <input type="text" name="cvv" placeholder="CVV" required>
                            <button type="submit">Добавить карту</button>
                        </form>
                    </div>
                    <div class="card-list">
                        <h2>Мои карты</h2>
                        <ul>
                            <li th:each="card : ${cards}">
                                <span>Карта: **** **** **** <span th:text="${card.cardNumber.substring(card.cardNumber.length() - 4)}"></span></span>
                                <span>Срок действия: <span th:text="${card.expiryDate}"></span></span>
                                <form th:action="@{/payment/delete/{cardId}(cardId=${card.id})}" method="post">
                                    <button type="submit">Удалить</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <hr>
	</main>
    <footer th:insert="~{html/footer.html :: footer}"></footer>
    <script src="/JS/script.js"></script>
    <script src="/JS/payment.js" defer></script>
    <script src="/JS/cart.js" defer></script>
</body>
</html>