<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header th:insert="~{html/header.html :: header}"></header>
<main>
    <hr>
    <div class="center">
        <div class="center-1440px">
            <div th:each="p : ${posts}">
                <img th:src="${p.img}" alt="logo_company">
                <p th:text="${p.title}">fdsfdsfds</p>
            </div>
            <h1 style="text-align: center;">Меню</h1>
            <a th:href="@{/product/{id}/add(id=${post.id})}">Добавить товар</a>
            <div class="box-card-product">
                <div th:each="product : ${products}">
                    <div class="card-product catalog">
                        <img th:src="${product.img}" alt="photo-product">
                        <div class="description-product">
                            <div class="name-product-catalog">
                                <b><p th:text="${product.price} + ' р.'"></p></b>
                                <p th:text="${product.name}" ></p>
                                <p th:text="${product.gram} + ' г'"></p>
                            </div>
                            <!-- Это будет отображаться рядом с каждым товаром -->
                            <form class="count-form" action="/cart/add-to-cart" method="get">
                                <input type="hidden" name="productId" th:value="${product.id}" />
                                <label for="quantity">Количество:</label>
                                <input type="number" name="quantity" id="quantity" value="1" min="1" required />
                                <button type="submit">Добавить в корзину</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</main>
<footer th:insert="~{html/footer.html :: footer}"></footer>
<script src="/static/JS/script.js"></script>
</body>
</html>