<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header th:insert="~{html/header.html :: header}"></header>
<main>
    <hr>
    <div class="center">
        <div class="center-1440px">
            <div th:each="el : ${posts}">
                <img th:src="${el.img}" alt="logo_company">
            </div>
            <p>Menu</p>
            <a th:href="@{/product/{id}/add(id=${post.id})}">Добавить товар</a>
            <div th:each="product : ${products}" class="box-card-product catalog">
                <div class="card-product">
                    <img th:src="${product.img}" alt="photo-product">
                    <div class="description-product">
                        <div class="name-product-catalog">
                            <p th:text="${product.price}"></p>
                            <p th:text="${product.name}" ></p>
                            <p th:text="${product.gram}"></p>
                        </div>
                        <button>+ Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</main>
<footer th:insert="~{html/footer.html :: footer}"></footer>
<script src="/static/JS/script.js"></script>
</body>
</html>