<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
<header th:insert="~{html/header.html :: header}"></header>
<main>
    <hr>
    <div class="center">
        <div class="center-1440px">
            <div class="profile-nav">
                <button><a th:href="@{orders/historyOrders}">История заказов</a></button>
                <button>Настройки</button>
                <button><a th:href="@{/payment}">Управление картами</a></button>
                <button><a th:href="@{/logout}">Выйти</a></button>
            </div>
            <div class="profile-info">
                <img src="../images/avatar.png" alt="Avatar">
                <div>
                    <div class="profile-data">
                        <p>Имя:</p>
                        <p th:text="${users.name}"></p>
                    </div>
                    <div class="profile-data">
                        <p>Фамелия:</p>
                        <p th:text="${users.lastname}"></p>
                    </div>
                    <div class="profile-data">
                        <p>Почта:</p>
                        <p th:text="${users.email}"></p>
                    </div>
                    <div class="profile-data">
                        <p>Номер телефона:</p>
                        <p th:text="${users.phone}"></p>
                    </div>
                    <div class="profile-data">
                        <p>Адресс:</p>
                        <p th:text="${users.address}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</main>
<footer th:insert="~{html/footer.html :: footer}"></footer>
</body>
</html>