<div class="center center-1440px" th:fragment="footer">
    <div class="footer-nav">
        <nav class="food-footer-nav">
            <div>
                <h3 class="plug-footer-nav">Блюда и кухни</h3>
                <div>
                    <ul class="li-footer-nav">
                        <li>Выпечка</li>
                        <li>Бургеры</li>
                        <li>Кофе</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="plug-footer-nav">
                    &nbsp;
                </div>
                <div>
                    <ul class="li-footer-nav">
                        <li>Каша</li>
                        <li>Мороженное</li>
                        <li>Пироги</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="plug-footer-nav">
                    &nbsp;
                </div>
                <div>
                    <ul class="li-footer-nav">
                        <li>Рамен</li>
                        <li>Суп</li>
                        <li>Пончики</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="plug-footer-nav">
                    &nbsp;
                </div>
                <div>
                    <ul class="li-footer-nav">
                        <li>Стейки</li>
                        <li>Торты</li>
                        <li>РОллы</li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="company-footer-nav">
            <h3 class="plug-footer-nav">О компании</h3>
            <ul class="li-footer-nav">
                <li>Пользовательское соглашение</li>
                <li>Контакты</li>
                <li>Доставка</li>
            </ul>
        </nav>
    </div>
</div>